// Color pallet
@cp-1: #556270;
@cp-2: #4ECDC4;
@cp-3: #C7F464;
@cp-4: #FF6B6B;
@cp-5: #C44D58;
@jumbo-text: #FFD05B:

// Messy stuffs
li i { color: @cp-3; } // Cho danh sách ở mục "Những ai nên tham gia khoá học này"
button i { color: @cp-4; } // Cho danh sách ở mục "Những giá trị bạn sẽ nhận được ở trong khoá học này"
h1,h2,h3,h4 { color: @cp-4; } // Cho các headings
h1.text-uppercase { color: #f00; } // Cho dòng chữ "Thành công tuyệt đỉnh trong học tập"
div h5 { background: @cp-2; } // Cho mục "Trailer"
div ul h5 { background: @cp-3; } // Cho mục "Những thành tựu"
.jumbotron { background: @cp-5 !important; // Cho mục "Thông tin khoá học"
    p, p.lead {color: #fff; }
}
div {
    h4 {
        i { color: @cp-4; }
    }
}

//Jumbotron
.jumbo-yellow {color: @jumbo-text !important;}

// Mix Color
div.row .cbg-1 { background: @cp-1 !important; }
.cbg-2 { background: @cp-2; }
.cbg-3 { background: @cp-3 !important; }
.cbg-4 { background: @cp-4; }
.cbg-5 { background: @cp-5; }

// Mix cho Container
.container-mix-color-1 { background: @cp-1;
    p { color: #fff;
        &:hover { color: @cp-4; }
        }
}