li i {
  color: #C7F464;
}
button i {
  color: #FF6B6B;
}
h1,
h2,
h3,
h4 {
  color: #FF6B6B;
}
h1.text-uppercase {
  color: #f00;
}
div h5 {
  background: #4ECDC4;
}
div ul h5 {
  background: #C7F464;
}
.jumbotron {
  background: #C44D58 !important;
}
.jumbotron p,
.jumbotron p.lead {
  color: #fff;
}
div h4 i {
  color: #FF6B6B;
}
div.row .cbg-1 {
  background: #556270 !important;
}
.cbg-2 {
  background: #4ECDC4;
}
.cbg-3 {
  background: #C7F464 !important;
}
.cbg-4 {
  background: #FF6B6B;
}
.cbg-5 {
  background: #C44D58;
}
.container-mix-color-1 {
  background: #556270;
}
.container-mix-color-1 p {
  color: #fff;
}
.container-mix-color-1 p:hover {
  color: #FF6B6B;
}
