// Google Fonts - yêu cầu trong thẻ <head> có thẻ <link> để kết nối với font
.itim { font-family: 'Itim', cursive; }
.chonburi { font-family: 'Chonburi', cursive !important; } // Important cho thẻ Heading
.bungee-inline { font-family: 'Bungee Inline', cursive !important; }
.open-sans { font-family: 'Open Sans', sans-serif !important; }