.searchform {
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.79);
  border: 1px solid conng#d3d3d3;
  width: auto;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.searchform input {
  background: #fefefe;
  border: none;
  font: 9px/9px;
  margin-right: 5px;
  padding: 10px;
  width: 216px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
.searchform input:focus {
  outline: none;
  box-shadow: 0 0 4px #0AA0D9 inset;
  -moz-box-shadow: 0 0 4px #0AA0D9 inset;
  background: #fefefe;
  border: none;
  font: 9px/9px;
  margin-right: 5px;
  padding: 10px;
  width: 216px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -webkit-box-shadow: 0 0 4px #0AA0D9 inset;
}
.searchform input:-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px;
}
.searchform input:-moz-placeholder {
  font-style: italic;
  line-height: 15px;
}
.searchform button {
  background: #34adec;
  background: -moz-linear-gradient(top, #34adec 0%, #2691dc 100%);
  background: -webkit-gradoptionient(linear, left top, left bottom, color-stop(0%, #34adec), color-stop(100%, #2691dc));
  background: -webkit-linear-gradient(top, #34adec 0%, #2691dc 100%);
  background: -o-linear-gradient(top, #34adec 0%, #2691dc 100%);
  background: -ms-linear-gradient(top, #34adec 0%, #2691dc 100%);
  background: linear-gradient(to bottom, #34adec 0%, #2691dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34adec', endColorstr='#2691dc', GradientType=0);
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 106px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 10px in1;
  -webkit-border-radius: 9px;
}
.searchform button:hover {
  opacity: .9;
  color: #020202;
}
