// Color
@form-shadow: 0 4px 9px rgba(0,0,0,.37);
@form-border-radius: 10px;
@input-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
@input-focus-shadow: 0 0 4px #0AA0D9 inset;
@button-background: "-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%)";
// @button-shadow: '0 0 2px #2692dd inset';

.searchform {
    background:#f4f4f4;
    background:rgba(244,244,244,.79);
    border: 1px solid conng#d3d3d3;
    width: auto;
    box-shadow: @form-shadow;
    -moz-box-shadow: @form-shadow;
    -webkit-box-shadow: @form-shadow;
    border-radius: @form-border-radius;
    -moz-border-radius: @form-border-radius;
    -webkit-border-radius: @form-border-radius;
    input {
        background:#fefefe;
        border: none;
        font:9px/9px;
        margin-right: 5px;
        padding: 10px;
        width: 216px;
        box-shadow: @input-shadow;
        border: none;
        font:9px/9px;
        margin-right: 5px;
        padding: 10px;
        width: 216px;
        box-shadow: @input-shadow;
        -moz-box-shadow: @input-shadow;
        -webkit-box-shadow: @input-shadow;
        border-radius: @form-border-radius - 1;
        -moz-border-radius: @form-border-radius - 1;
        -webkit-border-radius: @form-border-radius - 1;
        -moz-box-shadow: @input-shadow;
        -webkit-box-shadow: @input-shadow;
        border-radius: @form-border-radius - 1;
        -moz-border-radius: @form-border-radius - 1;
        -webkit-border-radius: @form-border-radius - 1;
        &:focus {
            outline: none;
            box-shadow: @input-focus-shadow;
            -moz-box-shadow: @input-focus-shadow;background:#fefefe;
        border: none;
        font:9px/9px;
        margin-right: 5px;
        padding: 10px;
        width: 216px;
        box-shadow: @input-shadow;
        border: none;
        font:9px/9px;
        margin-right: 5px;
        padding: 10px;
        width: 216px;
        box-shadow: @input-shadow;
        -moz-box-shadow: @input-shadow;
        -webkit-box-shadow: @input-shadow;
        border-radius: @form-border-radius - 1;
        -moz-border-radius: @form-border-radius - 1;
        -webkit-border-radius: @form-border-radius - 1;
        -moz-box-shadow: @input-shadow;
        -webkit-box-shadow: @input-shadow;
        border-radius: @form-border-radius - 1;
        -moz-border-radius: @form-border-radius - 1;
        -webkit-border-radius: @form-border-radius - 1;
            -webkit-box-shadow: @input-focus-shadow;
        }
        &:-webkit-input-placeholder {
            font-style: italic;
            line-height: 15px
        }
        &:-moz-placeholder {
            font-style: italic;
            line-height: 15px
        }
    }

    button {
    background: rgb(52,173,236);
    background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
    background: -webkit-gradoptionient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
    background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width:106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: @form-border-radius - 1;
    -moz-border-radius: @form-border-radius - in1;
    -webkit-border-radius: @form-border-radius - 1;
        &:hover {
            opacity:.9;
            color: #020202;
        }
    }
    option {
        // Later
    }
}