.itim {
  font-family: 'Itim', cursive;
}
.chonburi {
  font-family: 'Chonburi', cursive !important;
}
.bungee-inline {
  font-family: 'Bungee Inline', cursive !important;
}
.open-sans {
  font-family: 'Open Sans', sans-serif !important;
}
h1.text-uppercase {
  font-family: 'Chonburi', cursive !important;
}
